[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
pymongo = "*"
requests = "*"
python-dotenv = "*"
pytz = "*"
pydantic = "*"
shortuuid = "*"
python-dateutil = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pandas = "*"
openpyxl = "*"
fastapi = {extras = ["standard"], version = "*"}
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
